/*list of restaurants*/
.list-heading {
    height: 50px;
}

.body-text {
    color: black;
}

.like-button {
    color: #1f96e0;
}

.like-button:hover {
    color: black;
}

.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

/*detail section of restaurant*/
.detail-card {
    height: 600px;
}

.detail-card-head {
    font-size: xx-large;
    background-color: #1f2222;
    height: 45px;
    font-weight: 400;
}

.detail-card-body {
    background-color: #FFFFFF;
    color: #1f96e0;
    height: 500px;
}

.detail-icons {
    font-size: larger;
}

.detail-address {
    font-size: x-large;
    padding-bottom: 10px;
}

/*gallery*/

body {
    padding-top: 20px;
}

.carousel {
    margin-bottom: 0;
    padding: 15px 40px 30px 40px;
}

/* The controlsy */
.carousel-control {
    left: -12px;
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 30px;
}

.carousel-control.right {
    right: -12px;
}

/* The indicators */
.carousel-indicators {
    right: 50%;
    top: inherit;
    bottom: -17px;
    margin-right: -19px;
}

/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}

.carousel-indicators .active {
    background: #428bca;
}

/*food articles*/
.article-image {
    width: 250px;
    height: 250px;
}