<!DOCTYPE HTML>

<html>
<head>
    <title>Spring Boot - POST-GET AJAX Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/js/postrequest.js"></script>
    <script src="/js/getrequest.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
</head>
<body>

<div class="container">
    <h1>POST-GET AJAX</h1>
    <div id="postdiv">
        <form id="customerForm">
            <label>FirstName</label>
            <input type="text" id="firstname" class="form-control"/>
            <label>LastName</label>
            <input type="text" id="lastname" class="form-control"/>
            <button type="submit" id="postBtn" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div id="postResultDiv">
    </div>
    <br/>
    <div id="getdiv">
        <button id="getBtn" >Get All Customers</button>
    </div>
    <div id="getResultDiv">
        <ul class="list-group">
        </ul>
    </div>
</div>
</body>
</html>